/* Write your CSS code here */
.crypto-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  margin-bottom: 10px;
}
.crypto-title-container {
  display: flex;
  align-items: center;
}
.crypto-list-img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-right: 10px;
}
.crypto-title {
  color: #ffffff;
  margin-right: 450px;
}
.usd-euro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.crypto-usd {
  color: #ffffff;
}
.crypto-euro {
  color: #ffffff;
}
